@tr:registry=https://bams-aws.refinitiv.com/artifactory/api/npm/default.npm.global/
//bams-aws.refinitiv.com/artifactory/api/npm/default.npm.global/:_password=QVA1Njc0eWZNU3BhcUttbUozQllBWlN0RTh6
//bams-aws.refinitiv.com/artifactory/api/npm/default.npm.global/:username=s.sa.robot
//bams-aws.refinitiv.com/artifactory/api/npm/default.npm.global/:email=s.sa.robot@thomsonreuters.com
//bams-aws.refinitiv.com/artifactory/api/npm/default.npm.global/:always-auth=true
